WHATSAPP_TOKEN=EAAUsqgSVvCsBSfW0ZCFqzygBHoVCn67HWEh9dMRvQfuPjPZBWxUtw3a98sVcFZAW8rv5AIoZCg8RO9RhbGZCNmGxTP8PhY6yZAFooEvvWZCZAhnBICCyQhMFNO15uJkmwyFK6OV0poMEP8FUeL4U5Hl1DZC9h2xlpJ2dCIIY2lgHMgQADul9uxbjtZCUm73YaK1pHr40tjnWKaZCkFuoZCZA8egw6INdX4hbVYWGzEq2aNZBmokf7WMZBRCLDziYlHouObH2mZB4Jnoaiy7BZC1q2HYfBp9amVAZDZD
PHONE_NUMBER_ID=EAAUsqgSVvCsBSfW0ZCFqzygBHoVCn67HWEh9dMRvQfuPjPZBWxUtw3a98sVcFZAW8rv5AIoZCg8RO9RhbGZCNmGxTP8PhY6yZAFooEvvWZCZAhnBICCyQhMFNO15uJkmwyFK6OV0poMEP8FUeL4U5Hl1DZC9h2xlpJ2dCIIY2lgHMgQADul9uxbjtZCUm73YaK1pHr40tjnWKaZCkFuoZCZA8egw6INdX4hbVYWGzEq2aNZBmokf7WMZBRCLDziYlHouObH2mZB4Jnoaiy7BZC1q2HYfBp9amVAZDZD
WABA_ID=EAAUsqgSVvCsBSfW0ZCFqzygBHoVCn67HWEh9dMRvQfuPjPZBWxUtw3a98sVcFZAW8rv5AIoZCg8RO9RhbGZCNmGxTP8PhY6yZAFooEvvWZCZAhnBICCyQhMFNO15uJkmwyFK6OV0poMEP8FUeL4U5Hl1DZC9h2xlpJ2dCIIY2lgHMgQADul9uxbjtZCUm73YaK1pHr40tjnWKaZCkFuoZCZA8egw6INdX4hbVYWGzEq2aNZBmokf7WMZBRCLDziYlHouObH2mZB4Jnoaiy7BZC1q2HYfBp9amVAZDZD
VERIFY_TOKEN="hello"
PORT=3000
BUSINESS_NAME=Skyline Paragliding Adventures
HUMAN_HANDOFF_NUMBER=91XXXXXXXXXX
MAX_RIDER_WEIGHT_KG=110
WEATHER_API_KEY=
